<ion-header class="modalHeader">
  <ion-toolbar>
    <ion-title>Ride Details</ion-title>
    <ion-icon name="close-outline" class="close-icon" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ride-details-content">

  <img class="brandLogo" alt="logo" src="assets/vechicle.png" />

  <ion-item lines="none" class="itemDetails">
    <ion-label class="label">Ride Number</ion-label>
    <ion-label class="value">{{rideDetails?.rideBookingNo === 'NaN' ? 0 : rideDetails?.rideBookingNo}}</ion-label>
  </ion-item>
  <ion-item lines="none" class="itemDetails">
    <ion-label class="label">Model Name</ion-label>
    <ion-label class="value">{{rideDetails?.modelName}}</ion-label>
  </ion-item>

  <ion-button expand="full" class="seeMoreLessControl" *ngIf="showMore === false" (click)="showMoreLessClickHandler()">
    See more details <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>

  <div *ngIf="showMore === true">

    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Ride started from</ion-label>
      <ion-label class="value wrap-prevent">{{fromTime}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Ride ended at</ion-label>
      <ion-label class="value wrap-prevent">{{endTime}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Ride Duration (minutes)</ion-label>
      <ion-label class="value">{{rideDetails?.actualRideMin}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Minimum hire time (minutes)</ion-label>
      <ion-label class="value">{{rideDetails?.minimumHiringTime}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Rate per minute</ion-label>
      <ion-label class="value">{{rideDetails?.minimumRentRate}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="itemDetails">
      <ion-label class="label">Total amount</ion-label>
      <ion-label class="value">{{rideDetails?.totalRideAmount}}</ion-label>
    </ion-item>

    <ion-button expand="full" class="seeMoreLessControl" (click)="showMoreLessClickHandler()">
      See less details <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-button>

  </div>

  <div class="horizontalDivision"></div>

  <app-rating-feedback [feedbackSubmitted]="false" [rideBookingId]="rideBookingId" [rideDetails]="rideDetails"
    (onSkip)="onFeedbackSkip()" (onSubmit)="onFeedbackSubmit()"></app-rating-feedback>

</ion-content>