<ion-header class="childHeadermain">
  <app-child-header [title]="pageTitle"></app-child-header>
</ion-header>
<ion-content>
  <figure>
    <img src="../../../assets/images/ProductQuality.jpg" alt="kycimage">
  </figure>
  <article>
    <ion-label class="Heading">Know Your Customer</ion-label>
    <P>Hello, we are not covered under e-KYC verification and hence you have to visit our city office to be able to
      physical know your customer verification. Please bring one Photo ID and Address ID. Example of ID's are as
      follows:</P>
  </article>
  <article class="topSpace">
    <P>Document for photo identification</P>
    <P>Aadhar ID</P>
    <P>Voter ID</P>
    <P>Passport</P>
  </article>
  <article class="topSpace">
    <P>Office Address:</P>
    <P>Evegah mobility pvt. ltd.</P>
    <P>Vadodara, gujarat, India-390023</P>
    <P>Mobile:+91-8980966677</P>
    <p>Email:Info@evegah.com</p>
  </article>
</ion-content>